// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    z-index: 1030;

    .brand {
        img {
            max-height: 90px;
        }
    }

    @media #{$min-lg} {
        position: absolute;
        padding: 24px 0;

        .brand {
            img {
                max-height: 120px;
            }
        }
    }
    
    @media #{$min-xxl} {
        padding: 30px 0;
    }

    @media #{$min-xxxl} {
        padding: 40px 0;

        .brand {
            img {
                max-height: 180px;
            }
        }
    }

    .top-nav {
        justify-content: space-between;

        .menu-icon {
            display: block;
            margin-bottom: 28px;
            margin-left: -18px;
        }

        .nav-link {
            font-family: var(--bs-font-family-2);
            font-size: 32px;
            font-weight: 700;
            line-height: 1;
        }
    }

    .nav {
        --bs-link-color: #ffffff;
        --bs-link-color-rgb: 255, 255, 255;
        --bs-link-hover-color: var(--bs-primary);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    }
}

.navbar {

    .navbar-toggler {
        margin-right: -5px;
        border: 0;
        color: var(--primary);

        &.collapsed {
            color: #585858;
        }

        .navbar-toggler-icon {
            width: auto;
            height: auto;
            background-image: none;
            font-size: 26px;
        }
    }
}

.navbar-brand {
    img {
        max-width: 229px;
    }
    
}
