// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// @font-face {
//     font-family: 'Roc Grotesk';
//     src: url('/fonts/roc-grotesk//fonts/roc-grotesk/RocGrotesk-ExtraBold.woff2') format('woff2'),
//         url('/fonts/roc-grotesk//fonts/roc-grotesk/RocGrotesk-ExtraBold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk';
//     src: url('/fonts/roc-grotesk/RocGrotesk-Regular.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk';
//     src: url('/fonts/roc-grotesk/RocGrotesk-Medium.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk';
//     src: url('/fonts/roc-grotesk/RocGrotesk-Heavy.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-Heavy.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk';
//     src: url('/fonts/roc-grotesk/RocGrotesk-Thin.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-Thin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk';
//     src: url('/fonts/roc-grotesk/RocGrotesk-Bold.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk';
//     src: url('/fonts/roc-grotesk/RocGrotesk-Black.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk';
//     src: url('/fonts/roc-grotesk/RocGrotesk-Light.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-WideThin.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-WideThin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-WideMedium.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-WideMedium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-WideBold.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-WideBold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-WideExtraLight.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-WideExtraLight.woff') format('woff');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-WideHeavy.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-WideHeavy.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-WideLight.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-WideLight.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-Wide.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-Wide.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-WideExtraBold.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-WideExtraBold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Roc Grotesk Wide';
//     src: url('/fonts/roc-grotesk/RocGrotesk-WideBlack.woff2') format('woff2'),
//         url('/fonts/roc-grotesk/RocGrotesk-WideBlack.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'MarketPro';
//     src: url('/fonts/market-pro/MarketPro.woff2') format('woff2'),
//         url('/fonts/market-pro/MarketPro.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'MarketPro';
//     src: url('/fonts/market-pro/MarketPro-Bold.woff2') format('woff2'),
//         url('/fonts/market-pro/MarketPro-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// .ff-heading, .heading-text {
// 	font-family: 'MarketPro';
// 	font-weight: normal;
//     font-style: normal;
// }

// .ff-heading-2 {
// 	font-family: 'Roc Grotesk Wide';
// 	font-weight: normal;
//     font-style: normal;
// }

.ff-heading, .heading-text {
	font-family: var(--bs-heading-font-family);
	font-weight: normal;
    font-style: normal;
}

.ff-heading-2 {
	font-family: var(--bs-font-family-2);
	font-weight: 700;
    font-style: normal;
}